.product-card{
    padding: 15px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
.product-card .product-image{
    height: 270px;
}
.product-card .product-image img{
    object-fit: contain;
    transition: 0.3s;
}
.product-card .product-image > img:last-child{
    display: none;
}
.product-card:hover .product-image > img:nth-child(1){
    display: none;
}
.product-card:hover .product-image > img:last-child{
    display: block;
}
.product-card:hover .action-bar{
    right: 15px;
}
.product-card .product-details h6{
    color: var(--color-bf4800);
    font-size: 13px;
}
.product-card .product-details h5{
    color: var(--color-1c1c1b);
    font-size: 15px;
}
.product-card .product-details p.product-price{
    color: var(--color-1c1c1b)!important;
    font-size: 16px;
}
.action-bar{
    top: 12%;
    right: -23px;
    transition: 0.3s;
}
.wishlist-icon{
    top: 5%;
    right: 15px;
}